body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #000000;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
  /*С помощью нового класса у body зададим правила для черного шрифта, нового фонового изображения. Не забудем добавить фоновый цвет.*/
  
.inner-page {
    color: #000000;
  
    background-color: #f9f6f3;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
  }

a {
    text-decoration: none;
  }
  
.button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #000000;
    border: none;
  }
  
.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
  }
  
.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  
    background-color: #000000;
  }
  
.site-navigation,
.user-navigation {
    list-style: none;
  }
  
.site-navigation a,
.user-navigation a {
    color: #ffffff;
  }
  
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
  }
  
.features-list {
    list-style: none;
  }
  
.feature-item {
    text-align: center;
  }
  
.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
  }
  
.index-columns {
    color: #000000;
  
    background-color: #f8f5f2;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
  }
  
.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
  }
  
.news-list {
    list-style: none;
  }
  
.news-item time {
    text-transform: none;
  }
  
.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
  }
  
.appointment-item input {
    font: inherit;
  
    background-color: transparent;
    border: 2px solid #000000;
  }
  
.appointment-item input:focus {
    border-color: #663d15;
  }
  /*Зададим размеры шрифта для главного заголовка страницы.*/

.page-title {
    font-size: 30px;
    line-height: 42px;
  }

  /*Переходим к навигационной цепочке. Отменим дефолтный стиль у списка ссылок.*/
.breadcrumbs {
    list-style: none;
}

  /*Зададим цвет для всех ссылок в «хлебных крошках». 
    Укажем цвет для пункта текущей страницы. 
    Зададим подчеркивание для ссылок при наведении и фокусе.*/
.breadcrumbs a {
    color: #000000;
}
  
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}
  
.breadcrumbs-current {
    color: #aba9a7;
}

/*Переходим к фильтрам. Убираем обводку у тега fieldset, она нам не нужна.*/
.filter fieldset {
    border: none;
}

/*Зададим параметры шрифта для legend.*/
.filter legend {
    font-size: 24px;
    line-height: 30px;
}

/*Теперь сбросим дефолтный стиль списка для фильтров, зададим высоту строки.*/
.filter ul {
    list-style: none;
    line-height: 18px;
}

/*Добавим цвет шрифта для подписи при наведении и фокусе на поле. А также назначим стиль для заблокированного поля.*/

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.5;
}

/*Займемся стилизацией карточек товаров. 
Отменяем стили списка по умолчанию. 
Задаем карточке фоновый цвет и тень. 
Состояние наведения должно быть заметно для пользователя, 
поэтому назначаем на hover тень с меньшей прозрачностью.*/
.catalog-list {
    list-style: none;
  }
  
.catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/*Цвет ссылок в карточке сделаем черным и зададим размеры шрифта в заголовке карточки.*/

.catalog-item a {
    color: #000000;
  }
  
.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
  }

/*Название категории товара переводим в обычный регистр.*/
.catalog-category {
    text-transform: none;
  }

/*Цене товара задаем параметры шрифта, выравнивание текста по центру, светлый фон.*/
.catalog-item-price b {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  
    background-color: #e5e5e5;
  }

/*Кнопке «Купить» переопределяем высоту строки и белый цвет текста.*/
.catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
  }

/*Нам осталось сделать стилизацию пагинации. Сбросим дефолтный стиль списка.*/
.pagination-list {
    list-style: none;
  }

/*Теперь назначаем ссылкам белый цвет и черный фон.*/
.pagination-item a {
    color: #ffffff;
  
    background-color: #000000;
  }

/*Задаем стиль ссылок при наведении, фокусе и определяем стиль для активной ссылки.*/
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

/*Стиль ссылки на текущую страницу отличается. 
Задаем черный цвет текста и белый фон. 
А чтобы стиль ссылки не менялся при взаимодействии, 
дублируем стилевые правила текущей ссылки для различных состояний (наведение, фокус, активная ссылка).*/
.pagination-item-current a {
    color: #000000;
  
    background-color: #ffffff;
  }
  
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
  
    background-color: #ffffff;
  }

/*Займемся стилизацией фотографий товара. Сначала сбросим дефолтный стиль у списка фотографий.*/
.product-photo-preview {
    list-style: none;
  }

/*Зададим тени для фотографий в списке и большой фотографии товара.*/
.product-photo-preview li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
  
.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }

/*Теперь зададим стили для артикула товара. Выравниваем текст по правому краю и назначаем подходящий цвет шрифта.*/
.product-article {
    text-align: right;
    color: #aeaeae;
  }

/*Для цены назначим высоту строки, выравнивание текста по центру и фоновый цвет.*/
.product-price b {
    line-height: 20px;
    text-align: center;
  
    background-color: #e5e5e5;
  }

/*Заголовку списка с комплектацией товара назначим размер шрифта и высоту строки. 
А самому списку сбросим дефолтный стиль.*/
.product-info h3 {
    font-size: 24px;
    line-height: 30px;
  }
  
.product-info ul {
    list-style: none;
  }

.main-footer {
    color: #ffffff;
  
    background-color: #212121;
    background-image: url("img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
  }
  
.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
  }
  
.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
  }
  
.footer-social {
    text-align: center;
  }
  
.footer-social ul {
    list-style: none;
  }
  
.social-button {
    color: #ffffff;
  }
  
.footer-copyright {
    text-align: center;
  }
  
.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
  
    background-color: #ffffff;
  }
  
.modal {
    color: #000000;
  
    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
  }
  
.modal h2 {
    font-size: 30px;
    line-height: 42px;
  }
  
.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
  
    background-color: #f9f6f3;
    border: 2px solid #000000;
  }
  
.login-form input:focus {
    border-color: #663d15;
  }
  
.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
  }
  
.restore {
    color: #000000;
    text-decoration: underline;
  }
  
.restore:hover,
.restore:focus {
    text-decoration: none;
  }

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

body {
  /* Временно для сетки */
  background-image: url('img/barbershop-index-grid.jpg');
  background-size: 1372px auto;
  background-repeat: no-repeat;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 285px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Временно для сетки */
  min-height: 285px;
  background-color: transparent;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
  
  /* Временно для сетки */
  /* display: block;*/
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  
  background-color: #000000;
  
  /* Временно для сетки */
  min-height: 70px;
  background-color: transparent;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 70px;
}

.features {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  
  /* Временно для сетки */
  min-height: 170px;
}

.feature-item {
  width: 300px;

  /* Временно для сетки */
  min-height: 170px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  
  /* Временно для сетки */
  background-image: none;
  background-color: transparent;
}


.news {
  width: 380px;

  /* Временно для сетки */
  min-height: 315px;
}

.gallery {
  width: 300px;

  /* Временно для сетки */
  min-height: 315px;
}

.contacts {
  width: 380px;

  /* Временно для сетки */
  min-height: 295px;
}

.appointment {
  width: 300px;

  /* Временно для сетки */
  min-height: 340px;
}

.main-footer {
   padding: 60px 0;
   margin-top: 65px;

  /* Временно для сетки */
  background: none;
  min-height: 180px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;

  /* Временно для сетки */
  min-height: 100px;
}

.footer-social {
  width: 145px;

  /* Временно для сетки */
  min-height: 100px;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;

  /* Временно для сетки */
  min-height: 100px;
}